.consent-header {
  background-color: #f7f7f7;
  border: 1px solid;
  border-color: #d9d9d9;
  height: 30px;
  margin: -20px -42px 0 -42px;
  padding: 20px;
  font-size: 17px;

  .header-wrapper {
    display: inline-block;
    width: 100%;
  }

  .logo-wrapper {
    height: 100%;
    float: left;
  }

  .org-logo {
    max-height: 100%;
  }

  .username-wrapper {
    float: right;
    line-height: 30px;
  }
}

.consent-beacon {
  text-align: center;
  padding: 30px 0 40px 0;

  .beacon-wrapper {
    display: inline-block;
    margin: auto;
  }

  .logo-wrapper {
    float: left;
    height: 80px;
    width: 80px;
    background-color: lightgray;
    border: 1px solid;
    border-radius: 3px;
  }

  .arrows-wrapper {
    margin: 0 8px;
    float: left;
    height: 80px;
    width: 41px;
  }

  .arrow-left {
    height: 25px;
  }

  .arrow::before {
    color: #777;
    font-size: 41px;
  }

  .logo {
    margin: 9px;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid;
  }

  .user-logo::before {
    margin: -11px 0 0 1px;
    font-size: 59px;
  }

  .client-logo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
  }
}

.consent-title {
  padding-bottom: 25px;

  p {
    font-size: 17px;
  }

  b {
    font-weight: bold;
  }
}

.scope-item {
  display: inline-block;
  width: 100%;
  padding-bottom: 25px;

  .scope-item-text {
    float: left;
    font-size: 17px;
    width: 85%;
    word-wrap: break-word;
  }

  .scope-item-tooltip {
    float: right;
    margin-right: 16px;
  }
}

.consent-description {
  padding-bottom: 25px;
  font-size: 13px;

  p {
    color: #a7a7a7;
    padding-bottom: 25px;
  }

  a {
    color: #007dc1;
  }
}

.consent-button-bar {
  display: inline-block;
  width: 100%;

  input {
    font-size: 13px;
    float: right;
    width: 100px;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    overflow: visible;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
  }

  .cancel-button {
    margin-right: 15px;
    color: #5e5e5e;
    background: -webkit-linear-gradient(#fefefe, #f9f9f9), #f9f9f9;
    background: linear-gradient(#fefefe, #f9f9f9), #f9f9f9;
    border-color: #c3c3c3 #c3c3c3 #bebebe;
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
  }

  .consent-button {
    color: #fff;
    background: -webkit-linear-gradient(#4cbf9c, #44bc98), #44bc98;
    background: linear-gradient(#4cbf9c, #44bc98), #44bc98;
    border-color: #328c71 #328c71 #2f856b;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
  }

}